@page "/GestionarPrestamos"
@inject LibroService libroService
@inject NavigationManager navigationManager

<div class="sort-container">
    <label for="sortSelect">Ordenar por:</label>
    <select id="sortSelect" @onchange="SortLibros">
        <option value="titulo">Título</option>
        <option value="autor">Autor</option>
        <option value="genero">Género</option>
        <option value="isbn">ISBN</option>
    </select>
</div>

@if (!string.IsNullOrEmpty(errorMessage))
{
        <div class="error-message">
            <p>@errorMessage</p>
        </div>
}
else
{
        <ol style="--length: @Libros?.Count ?? 0" role="list">
        @if (Libros != null)
        {
            @foreach (var libro in Libros)
            {
                            <li style="display: flex; justify-content: space-between; align-items: flex; margin-bottom: 40px;">
                                <div>
                                    <h3>@libro.Titulo</h3>
                                    <p style="color: black;"><strong>Autor:</strong> @libro.Autor</p>
                                    <p style="color: black;"><strong>Género:</strong> @libro.Genero</p>
                                    <p style="color: black;"><strong>ISBN:</strong> @libro.ISBN</p>

                                    <button class="button" @onclick="() => PrestarLibro(libro)">
                                        Prestar libro
                                    </button>
                                    <button class="button" @onclick="() => EliminarLibro(libro)">
                                        Devolver libro
                                    </button>
                                </div>
                                <div>
                        @if (libro.Portada != null)
                        {
                                            <img src="data:image/png;base64,@Convert.ToBase64String(libro.Portada)" alt="Imagen de @libro.Titulo" class="book-cover">
                        }
                                </div>
                            </li>
            }
        }
        </ol>

    @if (Libros == null || Libros.Count == 0)
    {
                <div id="mensaje-vacio" class="sin-elementos">
                    <h2>No hay más libros prestados.</h2>
                </div>
    }
}

@code {
    private List<Libro> Libros;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Libros = (await libroService.GetLibrosAsync())?.ToList();
        }
        catch (Exception ex)
        {
            errorMessage = $"Error al cargar los libros: {ex.Message}";
        }
    }

    private void EliminarLibro(Libro libro)
    {
        if (Libros.Contains(libro))
        {
            Libros.Remove(libro); // Elimina el libro de la lista
        }
        StateHasChanged(); // Actualiza la vista para reflejar el cambio
    }

    private void PrestarLibro(Libro libro)
    {
        // Implementar la lógica de préstamo del libro
        // Cambiar el estado de préstamo o mover el libro a otra lista
        libro.DisponiblePrestamo = false; // Ejemplo de actualización de estado
        StateHasChanged();
    }

    private void VerDetalles(Libro libro)
    {
     
    }

    private void SortLibros(ChangeEventArgs e)
    {
        string sortOption = e.Value.ToString();

        switch (sortOption)
        {
            case "titulo":
                Libros = Libros.OrderBy(l => l.Titulo).ToList();
                break;
            case "autor":
                Libros = Libros.OrderBy(l => l.Autor).ToList();
                break;
            case "genero":
                Libros = Libros.OrderBy(l => l.Genero).ToList();
                break;
            case "isbn":
                Libros = Libros.OrderBy(l => l.ISBN).ToList();
                break;
            default:
                break;
        }

        StateHasChanged(); // Actualiza la vista para reflejar el cambio de orden
    }
}
