@page "/"
@using System.Collections.Generic
@using BlazorWebAppMovies.Services
@inject LibroService libroService


<PageTitle>Home</PageTitle>

<div class="container">
    <header>
        <br>
        <h1 class="title">BIBLIOTECA<br>
            <span class="outline">Carlos Mérida</span>
        </h1>
        <br> 
        <!-- Barra de búsqueda sin autocompletado -->
        <div class="search-bar">
            <input type="text" placeholder="Buscar ISBN, Autor, Nombre" @bind="searchQuery">
            <button @onclick="PerformSearch">→</button>
        </div>
    </header>
    <div class="card-container">
        @if (librosBuscados != null && librosBuscados.Any())
        {
            @foreach (var libro in librosBuscados)
            {
                <div class="card">
                    <img src="data:image/png;base64,@Convert.ToBase64String(libro.Portada)" alt="Portada del libro" />
                    <h2>@libro.Titulo</h2>
                    <p><strong>Autor:</strong> @libro.Autor</p>
                    <p><strong>ISBN:</strong> @libro.ISBN</p>
                    <p><strong>Género:</strong> @libro.Genero</p>
                    <p><strong>Disponible:</strong> @(libro.DisponiblePrestamo ? "Sí" : "No")</p>
                </div>
            }
        }
        else
        {
            <p>No se encontraron resultados.</p>
        }
    </div>
</div>

@code {
    private List<Libro> librosEncontrados = new List<Libro>();

    private string searchQuery = "";
    private List<Libro> librosBuscados;

    private async Task PerformSearch()
    {
        librosBuscados = (await libroService.BuscarLibrosAsync(searchQuery)).ToList();
    }
}
